<main class='container h-[calc(100vh-65px)] overflow-y-auto py-8 px-6'>
  <div class='mx-auto flex flex-col space-y-6 justify-center sm:w-[350px]'>
    <div class="flex flex-col space-y-2 text-center">
      <h1 class="text-2xl font-semibold tracking-tight">Resend confirmation instructions</h1>
      <p class="text-sm text-muted-foreground">Enter your email to receive confirmation instructions</p>
    </div>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { class: "space-y-4" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="space-y-2">
        <%= f.label :email, class: "text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" %>
      </div>
      <%= f.submit "Resend confirmation instructions", class: "inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full" %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</main>
