<tr id="source_<%= source.id %>">
  <td><%= source.name %></td>
  <td><%= source.source_type %></td>
  <td><%= source.last_scraped_at&.strftime("%Y-%m-%d %H:%M:%S") || "Never" %></td>
  <td>
    <span class="status-indicator <%= source.status %>">
      <%= source.status.humanize %>
    </span>
    <% if local_assigns[:message] %>
      <br><small><%= message %></small>
    <% end %>
  </td>
</tr>